<!-- Modal - ACtivity -->
{% load crispy_forms_tags %}
<div class="modal fade" id="Activity_Modal" tabindex="-1" role="dialog" aria-labelledby="Activity_Modal" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Activity_Modal">Create Quick Activity</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
  <div id="activity_error"></div>    
 <form action="/ActivityFromHomePage/addFromHomePage/" method="post" novalidate>
        {% csrf_token %}        
        {{ activity_form|crispy }}
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>   
         <input type="submit" class="btn btn-success" name ="activity_form" value="Save" >    
      </div>
      </form>
    </div>
  </div>
</div>

<!--end modal-->